.close {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    z-index: 20;
    position: absolute;
    right: 45px;
    top: 45px;
    &__icon {
        position: relative;
        &::after, &::before {
            position: absolute;
            content: "";
            width: 25px;
            height: 3px;
            border-radius: 10px;
            background-color: #fff;
        }
        &::before {
            left: 0;
            transform: rotate(45deg);
            top: 0;
        }
        &::after {
            left: 0;
            transform: rotate(-45deg);
            top: 0;
        }
    }
}